<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PlayStation 4 Tienda</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/mainHandle.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

  <div class="navGlobal">
        <div class="navGlobal__logo">
           <a href="/"><img class="navGlobal__logoImg" src="/recursos/logo.png" alt=""></a>
        </div>
        <div class="navGlobal__menu">
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="/tienda">Tienda</a></li> 
        </div>
        
        <div class="navGlobal__search">
            <img class="navGlobal__searcherLogo" src="/recursos/search.png" alt=""> 
            <input class="navGlobal__searcher" type="text">
            <img class="navGlobal__searchPs4" src="/recursos/ps4.png" alt="">
        </div>
        
        <div class="navGlobal__itemsRigth">
            <div class="navGlobal__shop">
                <a href="/compra"><img class="navGlobal__shopping" src="/recursos/shopCart.png" alt=""></a>
                <div class="navGlobal__shopCartCount">   
                    <p class="cartCount"></p>
                </div>        
            </div>
            
            <button class="navGlobal__btn">
                <img src="/recursos/hamburguesa.png" alt="">
            </button>
        </div>
        
        
    </div>

    {{{body}}}

    

    <script src="/scripts/script.js"></script>
    <script src="/scripts/updateCart.js"></script>
    <script src="./libraries/gsap.min.js"></script>

</body>
</html>