<div class="paymentTitle">
    <h1>Continua con tu pago</h1>

    <form class="form">
        <label for="formname">Nombre:</label>
        <input class="text" type="text" id="formname" name="name">

        <label for="formid">Cedula:</label>
        <input class="text" type="number" id="formname" name="name">

        <label for="formAddress">Dirección del hogar:</label>
        <input class="text" type="text" id="formname" name="name">

        <label for="formDiscount">Codigo de descuento:</label>
        <input class="text" type="text" id="formname" name="name">
        

        <button class="sendInfo" type="submit">Pagar</button>
    </form>
    
    <script src="/scripts/payPurchase.js"></script>

</div>
