
     <link rel="stylesheet" href="/styles/productDetails.css">

     <div class="productName">
          <h1 class="productName__name">
               {{product.name}}
          </h1>
     </div>
    
    <div class="productDetail"> 
         <div class="productDetail__images">
              <div class="productDetails__imagesOptions">
                   <p>holis</p>
              </div>

               <div class="productDetail__imagesBigger">
                    <img class="productDetail__imagesBiggerSelect" src="/{{product.image}}" alt=""> 
               </div>
         </div>

         <div class="productDetail__features">
              <h1 class="productDetail__featuresTitle">Caracteristicas</h1>
              <h3 class="productDetail__featuresDescription">{{product.description}}</h3>
              <h1 class="productDetail__featuresPrice">${{product.price}}</h1>
              <button class="productDetail__featuresAddToCart">Agregar al carrito</button>
              <a class="productDetail__featuresMoreProducts" href="/tienda">Ver más productos</a>
         </div>

    </div>
    <script src="/scripts/productDetails.js"></script>
