<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PlayStation 4 Tienda</title>
    <link rel="stylesheet" href="styles/store.css">
</head>
<body>
    <div class="storeTop">

        <div class="storeTop__title">
            <h1>Todos los accesorios para ti</h1>
        </div>
        
        <div class="storeTop__order">
            <h3>Ordenar por:</h3>


                <select class="orderType">
                    <option value="priceFalling">Precio descendente</option>
                    <option value="priceAscending">Precio ascendente</option>
                    <option value="name">Nombre</option>
                    <option value="Popularity">Popularidad</option>
                </select>

        </div>
        
    </div>

    <div class="mainStore">

        <div class="mainStore__filters">
            <h1 class="mainStore__filtersTitleBig">Filtrar por:</h1>
            <h2 class="mainStore__filtersTitle">Color</h2>
             <div class="mainStore__filtersCheckbox">
                <label for="type__white" class="filter__body">Blanco</label>
                <input type="checkbox" id="type__white" value="white" class="filter__inputCheckbox">
            </div>

            <div class="mainStore__filtersCheckbox">
                <label for="type__black" class="filter__body">Negro</label>
                <input type="checkbox" id="type__black" value="black" class="filter__inputCheckbox">
            </div>

            <div class="mainStore__filtersCheckbox">
                <label for="type__blue" class="filter__body">Azul</label>
                <input type="checkbox" id="type__blue" value="blue" class="filter__inputCheckbox">
            </div>

            <div class="mainStore__filtersCheckbox">
                <label for="type__pink" class="filter__body">Rosado</label>
                <input type="checkbox" id="type__pink" value="pink" class="filter__inputCheckbox">
            </div>

            <div class="mainStore__filtersCheckbox">
                <label for="type__green" class="filter__body">Verde</label>
                <input type="checkbox" id="type__green" value="green" class="filter__inputCheckbox">
            </div>
            
            <h2 class="mainStore__filtersTitle">Productos</h2>
            <div class="mainStore__filtersCheckbox">
                <label for="type__joystick" class="filter__body">Controles PS4</label>
                <input type="checkbox" id="type__joystick" value="joystick" class="filter__inputCheckbox">
            </div>

            <div class="mainStore__filtersCheckbox">
                <label for="type__vr" class="filter__body">PS VR</label>
                <input type="checkbox" id="type__vr" value="vr" class="filter__inputCheckbox">
            </div>

            <div class="mainStore__filtersCheckbox">
                <label for="type__headphones" class="filter__body">Auriculares PS4</label>
                <input type="checkbox" id="type__headphones" value="headphones" class="filter__inputCheckbox">
            </div>

            <h2 class="mainStore__filtersTitle">Precio máximo</h2>
            <input type="range" min="80000" max="200000" name="priceRange" class="filter__range" value="200000">

        </div>

        <div class="mainStore__products">
            
        </div>


    </div>

    

    
    

        <script src="/scripts/store.js"></script>


</body>
</html>


