<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/store.css">
</head>
<body>
    <div class="storeTop">

        <div class="storeTop__title">
            <h1>Todos los accesorios para ti</h1>
        </div>
        
        <div class="storeTop__order">
            <h3>Ordenar por:</h3>

                <select class="orderType">
                    <option value="priceAscending">Precio ascendente</option>
                    <option value="priceFalling">Precio descendente</option>
                    <option value="Offers">Ofertas</option>
                    <option value="Popularity">Popularidad</option>
                </select>

        </div>
        
    </div>

    <div class="mainStore">

        <div class="mainStore__filters">
            <li><a href="">Ocultar filtros</a>
                <ul>
                    <li><a href="">Color</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Precio</a></li>

                </ul>
            </li>

        </div>

        <div class="mainStore__products">
            
        </div>


    </div>

    

    
    

        <script src="/scripts/store.js"></script>


</body>
</html>


