$color_1: #FF5247;
$color_2: black;
$color_3: white;
$font_family_1: 'Raleway';

.carTitle {
	border-left: 6px solid #FF5247;
	margin-left: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
	h1 {
		font-size: 40px;
	}
}
.carItem {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	justify-content: space-between;
}
.carItem__description {
	display: flex;
	flex-direction: row;
}
.carItem__descriptionImg {
	img {
		width: 200px;
		height: auto;
	}
}
.carItem__descriptionInfo {
	margin-left: 20px;
	font-family: $font_family_1;
	font-style: normal;
	h1 {
		font-size: 25px;
		margin-bottom: 0px;
		margin-top: 5px;
	}
	h2 {
		font-size: 15px;
		margin-top: 8px;
		margin-bottom: 0px;
	}
	h3 {
		color: $color_1;
		font-size: 15px;
		font-weight: 500;
		margin-top: 10px;
		margin-bottom: 6px;
	}
	a {
		color: $color_2;
		font-size: 12px;
		padding: 5px;
		margin-left: -5px;
	}
}
.carItem__descriptionInfoSave {
	border-right: 1.5px solid gray;
}
.carItem__important {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-family: $font_family_1;
	font-style: normal;
	h2 {
		margin-bottom: 0px;
		margin-top: 5px;
	}
	h3 {
		font-weight: 500;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	h1 {
		margin-top: 0px;
		font-size: 25px;
	}
}
.carItem__importantDelete {
	width: 40px;
	margin: 10px 0px;
}
.carToPay {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 50px;
}
.carToPay__btn {
	border: none;
	border-radius: 15px;
	background: linear-gradient(180deg, rgba(252, 94, 84, 0) 0%, #FF7F77 0.01%, #FF665C 23.11%, #FF190B 100%);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 180px;
	height: 50px;
	color: $color_3;
	font-size: 15px;
	margin: 20px 0px;
}
@media (max-width: 720px) {
	.carItem__important {
		flex-direction: row;
		justify-content: space-between;
		width: 500px;
		align-items: center;
		h1 {
			margin-bottom: 0px;
			margin-right: 120px;
		}
	}
}
